.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6F6F6;
  }
  
  .signup-box {
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 8px;
    width: 400px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .form-header {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .form-input {
    height: 1px;
    border: none;
    background-color: #E5E5E5;
    margin: 10px 0;
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .name-input,
  .phone-input,
  .state-input,
  .password-input {
    flex-direction: row;
    margin-top: 5px;
    height: 38px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: #F2F2F2;
  }
  
  .submit-button {
    background-color: #27c690 !important;
    color: rgb(10, 10, 10) !important;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    /* visibility: visible !important; */
  }

  .address-input{
    height: 70px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 16px;
    background-color: #F2F2F2;
  }
  
  .email-error,
  .password-error,
  .name-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  @media (max-width: 768px){
    .submit-button {
      background-color: #27c690 !important;
      color: rgb(15, 14, 14) !important;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;
      cursor: pointer;
      /* visibility: visible !important; */
    }
  }
  