

.password-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 4rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input[type="password"] {
  border-radius: 0.5rem;
  border: 1px solid #d2d6dc;
  outline: none;
  font-size: 1rem;
  padding: 0.5rem;
}

button.change-password {
  padding: 0.5rem 1rem;
}

.change-password{
    background-color: #9dc08b;
    border: none;
    outline: none;
    color: #fff;
}

.error-message{
    color: red;
}