.sub-container-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
  height: 100vh
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 4rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.update-profile-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.update-profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.address-profile,
input[type="text"],
input[type="tel"] {
  border-radius: 0.5rem;
  border: 1px solid #d2d6dc;
  outline: none;
  font-size: 1rem;
}

button.update {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background-color: #9dc08b;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}



@media screen and (max-width: 768px) {
  .sub-container-updateprofile{
    margin-top: -20rem;
  }
}
