.wallet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.wallet-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.wallet-row-1 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

hr {
  width: 100%;
  border: 1px solid #222;
}

.wallet-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.wallet-amount {
  font-size: 24px;
  font-weight: bold;
}

.wallet-balance {
  font-size: 14px;
  color: #888;
}

.wallet-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  width: 100%;
  padding: 1rem;
}

.wallet-option {
  text-align: center;
}

.option-title {
  font-size: 16px;
}

.option-amount {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.transaction-page {
  padding-top: 1rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .wallet-container {
    margin-top: -1rem;
  }
  .wallet-options {
    flex-wrap: wrap;
  }

  .wallet-option {
    width: 30%;
    margin-bottom: 15px;
  }
}
